@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
</div>

<div class="row">
    <p>Customers can register or login to manage their garbage pickup schedule. Employees and drivers can login to view and manage their routes.</p>
    
    <img src="~/Content/wm.jpg" />
</div>