@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Bay View residents!</h1>
    <p>Customers can register or login to manage their garbage pickup schedule. Employees and drivers can login to view and manage their routes.</p>
</div>

<div class="row">
     <img src="~/Content/tinytruck.jpg" style="margin-top:-30px" />
</div>